### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [282]:
# Dependencies and Setup
import pandas as pd
import os

In [283]:
# File to Load (Remember to Change These)
file_to_load = ("purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [284]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [285]:
unique_items = len(purchase_data["SN"].unique())
unique_items

576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [286]:
avg_price = purchase_data["Price"].mean()
avg_price

3.0509871794871795

In [333]:
total_purchases = len(purchase_data["Purchase ID"].unique())
total_purchases

780

In [288]:
total_revenue = price_data * total_purchases
total_revenue

2379.77

In [289]:
first_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [total_purchases],
                           "Total Revenue": [total_revenue]})
first_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [336]:
purchase_data.sort_values("Purchase ID", ascending=True).head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [357]:
avg_price_gender = purchase_data.groupby("Gender").mean()["Price"]
avg_price_gender.to_string(index=False)

'Gender\n 3.203009\n 3.017853\n 3.346000'

In [356]:
total_purchase_value = purchase_data.groupby("Gender").sum()["Price"]
total_purchase_value.to_string(index=False)

'Gender\n  361.94\n 1967.64\n   50.19'

In [364]:
purchase_count = purchase_data("Gender").value_counts()
purchase_count

TypeError: 'DataFrame' object is not callable

In [324]:
male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_purchases_count = male_players["Gender"].value_counts()
male_purchases_count.to_string(index=False)

' 652'

In [326]:
female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_purchases_count = female_players["Gender"].value_counts()
female_purchases_count.to_string(index=False)

' 113'

In [325]:
other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_purchases_count = other_purchases["Gender"].value_counts()
other_purchases_count.to_string(index=False)

' 15'

In [327]:
percentage_female = female_purchases_count / total_purchases
percentage_female.to_string(index=False)

' 0.144872'

In [328]:
percentage_male = male_purchases_count / total_purchases
percentage_male.to_string(index=False)

' 0.835897'

In [330]:
percentage_other = other_purchases_count / total_purchases
percentage_other.to_string(index=False)

' 0.019231'

In [331]:
second_summary_df = pd.DataFrame({"Male": [percentage_male],
                                   "Female": [female_purchases_count],
                                   "Other": [percentage_other],
                                   })
second_summary_df

,Male,Female,Other
0,"Male 0.835897 Name: Gender, dtype: float64","Female 113 Name: Gender, dtype: int64",Other / Non-Disclosed 0.019231 Name: Gender...

In [304]:
third_summary_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [purchase_count, avg_price, avg_revenue_person] 
    })

third_summary_df

                  Gender                                     Purchase Count
0                   Male  Male                     652
Female           ...
1                 Female                                            3.05099
2  Other / Non-Disclosed                                            4.13155

In [312]:
duplicates = purchase_data.loc[purchase_data["Gender"]=="Female",:]
duplicates_count = duplicates["Gender"].value_counts()
duplicates_count

Female    113
Name: Gender, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame