### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd
import os
os.listdir()

['.DS_Store', '.ipynb_checkpoints', 'HeroesOfPymoli_starter.ipynb']

In [5]:
# File to Load (Remember to Change These)
file_to_load = ("HeroesOfPymoli", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

ValueError: Invalid file path or buffer object type: <class 'tuple'>

In [6]:
purchase_data.head()

NameError: name 'purchase_data' is not defined

## Player Count

* Display the total number of players

In [221]:
total_players = len(purchase_data["SN"].unique())
total_players

576

In [222]:
player_summary = pd.DataFrame({"Total Players": [total_players]})
player_summary

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [223]:
avg_price = purchase_data["Price"].mean()
avg_price

3.0509871794871795

In [224]:
total_purchases = len(purchase_data["Purchase ID"].unique())
total_purchases

780

In [225]:
total_revenue = avg_price * total_purchases
total_revenue

2379.77

In [226]:
player_summary = pd.DataFrame({"Number of Unique Items": [total_players],
                           "Average Price": [avg_price],
                           "Number of Purchases": [total_purchases],
                           "Total Revenue": [total_revenue]})
player_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [227]:
player_df = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_df = player_df.drop_duplicates()

gender_totals = player_df["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [254]:
gender_percents = gender_totals / total_players * 100
gender_percents

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [255]:
gender_summary = pd.DataFrame({
                                "Total Count": gender_totals,
                                "Percentage of Players": gender_percents
                    })
gender_summary

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [256]:
purchase_gender_count = purchase_data["Gender"].value_counts()
purchase_gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [257]:
avg_gender_price = purchase_data.groupby("Gender").mean()["Price"]
avg_gender_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [232]:
total_gender_purchase_price = purchase_data.groupby("Gender").sum()["Price"]
total_gender_purchase_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [233]:
avg_total_person_purchase = total_gender_purchase_price / gender_totals
avg_total_person_purchase

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [234]:
purchasing_summary_df = pd.DataFrame({
                                "Purchase Count": purchase_gender_count,
                                "Average Purchase Price": avg_gender_price,
                                "Total Purchase Value": total_gender_purchase_price,
                                "Avg Total Purchase per Person": avg_total_person_purchase
                    })
purchasing_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [235]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 199]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [236]:
player_df = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_df = player_df.drop_duplicates()


age_totals = player_df["Age"].value_counts()
age_totals

20    69
23    49
22    49
24    48
21    43
25    43
15    26
30    25
16    24
18    21
17    19
19    17
26    11
35    10
29    10
27     9
33     9
10     7
7      7
34     7
11     6
32     6
39     6
8      6
31     5
36     5
37     5
38     5
40     5
28     4
9      4
12     4
13     3
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [237]:
player_df["Age Group"] = pd.cut(player_df["Age"], bins, labels=group_names)
player_df["Age Group"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age Group, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [238]:
age_group = player_df.groupby("Age Group").count()["SN"]
age_group

# print(age_group["SN"].count())

# age_group[["Age"]].count()

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [239]:
percentage_age_totals = age_group / total_players * 100
percentage_age_totals

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [240]:
age_summary_df = pd.DataFrame({
                                "Total Count": age_group,
                                "Percentage of Players": percentage_age_totals
                    })
age_summary_df

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [241]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 199]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [242]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Group"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Group, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [243]:
age_purchases_group = purchase_data.groupby("Age Group").count()["Purchase ID"]
age_purchases_group
# print(age_purchases_group["Purchase ID"].count())
# age_purchases_group[["Purchase ID"]].count()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [244]:
avg_price_age = purchase_data.groupby("Age Group").mean()["Price"]
avg_price_age
# print(avg_price_age["Price"].mean())
# avg_price_age[["Price"]].mean()

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [245]:
purchase_value_age = purchase_data.groupby("Age Group").sum()["Price"]
purchase_value_age
# print(purchase_value_age["Price"].sum())
# purchase_value_age[["Price"]].sum()

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [246]:
avg_purchase_age = purchase_value_age / age_group
avg_purchase_age

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [247]:
analysis_summary_df = pd.DataFrame({
                                "Purchase Count": age_purchases_group,
                                "Average Purchase Price": avg_price_age,
                                "Total Purchase Value": purchase_value_age,
                                "Avg Total Purchase per Person": avg_purchase_age
})

analysis_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [248]:
purchase_count = purchase_data["SN"].value_counts()
purchase_count

Lisosia93      5
Iral74         4
Idastidru52    4
Raesty92       3
Rarallo90      3
              ..
Salilis27      1
Chamalo71      1
Mindista32     1
Lisjaskan36    1
Mindilsa60     1
Name: SN, Length: 576, dtype: int64

In [249]:
top_spenders = purchase_data.loc[:,["SN", "Price"]]
top_spenders = top_spenders.drop_duplicates()

top_spenders_group = top_spenders.groupby("SN").mean()["Price"]
top_spenders_group

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [250]:
purchase_value_total = purchase_count * top_spenders_group

In [251]:
top_summary_df = pd.DataFrame({
                            "Purchase Count": purchase_count,    
                            "Average Purchase Price": top_spenders_group,
                            "Total Purchase Value": purchase_value_total
                    })
top_summary_df.head(110)

              Purchase Count  Average Purchase Price  Total Purchase Value
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79
...                      ...                     ...                   ...
Chamistast30               1                    3.58                  3.58
Chamjask73                 3                    4.61                 13.83
Chamjaskya75               1                    2.84                  2.84
Chamossa77                 1                    1.77                  1.77
Chanadar44                 1                    3.19                  3.19

[110 rows x 3 columns]

In [252]:
top_summary_df_sorted = top_summary_df.sort_values(["Total Purchase Value"],ascending=[False])
top_summary_df_sorted.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [345]:
extracted_columns = purchase_data[[
    "Item ID",
    "Item Name",
    "Price"
]]
extracted_columns.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [352]:
grouped_columns = extracted_columns.groupby(["Item ID", "Item Name"]).agg({"Price": ["mean", "sum"]})
grouped_columns

                                                       Price
                                                        mean    sum
Item ID Item Name
0       Splinter                                      1.2800   5.12
1       Crucifer                                      2.9425  11.77
2       Verdict                                       2.4800  14.88
3       Phantomlight                                  2.4900  14.94
4       Bloodlord's Fetish                            1.7000   8.50
...                                                      ...    ...
178     Oathbreaker, Last Hope of the Breaking Storm  4.2300  50.76
179     Wolf, Promise of the Moonwalker               4.4800  26.88
181     Reaper's Toll                                 1.6600   8.30
182     Toothpick                                     4.0300  12.09
183     Dragon's Greatsword                           1.0900   3.27

[179 rows x 2 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [369]:
new_columns_sorted = grouped_columns.sort_values((("Price","sum")),ascending=[False])
new_columns_sorted.head()

                                                         Price
                                                          mean    sum
Item ID Item Name
92      Final Critic                                  4.614615  59.99
178     Oathbreaker, Last Hope of the Breaking Storm  4.230000  50.76
82      Nirvana                                       4.900000  44.10
145     Fiery Glass Crusader                          4.580000  41.22
103     Singed Scalpel                                4.350000  34.80