### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [987]:
# Dependencies and Setup
import pandas as pd
import os

In [988]:
# File to Load (Remember to Change These)
file_to_load = ("purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [989]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [1118]:
total_players = len(purchase_data["SN"].unique())
total_players

576

In [1119]:
player_summary = pd.DataFrame({"Total Players": [total_players]})
player_summary

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1120]:
avg_price = purchase_data["Price"].mean()
avg_price

3.0509871794871795

In [1121]:
total_purchases = len(purchase_data["Purchase ID"].unique())
total_purchases

780

In [1122]:
total_revenue = avg_price * total_purchases
total_revenue

2379.77

In [1124]:
player_summary = pd.DataFrame({"Number of Unique Items": [total_players],
                           "Average Price": [avg_price],
                           "Number of Purchases": [total_purchases],
                           "Total Revenue": [total_revenue]})
player_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [1125]:
player_df = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_df = player_df.drop_duplicates()

gender_totals = player_df["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [1126]:
gender_percents = gender_totals / total_players
gender_percents

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [1127]:
gender_summary = pd.DataFrame({
                                "Total Count": gender_totals,
                                "Percentage of Players": gender_percents
                    })
gender_summary

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1128]:
purchase_gender_count = purchase_data["Gender"].value_counts()
purchase_gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [1129]:
avg_gender_price = purchase_data.groupby("Gender").mean()["Price"]
avg_gender_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [1130]:
total_gender_purchase_price = purchase_data.groupby("Gender").sum()["Price"]
total_gender_purchase_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [1131]:
avg_total_person_purchase = total_purchase_price / gender_totals
avg_total_person_purchase

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [1132]:
purchasing_summary_df = pd.DataFrame({
                                "Purchase Count": purchase_gender_count,
                                "Average Purchase Price": avg_gender_price,
                                "Total Purchase Value": total_gender_purchase_price,
                                "Avg Total Purchase per Person": avg_total_person_purchase
                    })
purchasing_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1133]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 199]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [1134]:
player_df = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_df = player_df.drop_duplicates()


age_totals = player_df["Age"].value_counts()
age_totals

20    69
23    49
22    49
24    48
21    43
25    43
15    26
30    25
16    24
18    21
17    19
19    17
26    11
35    10
29    10
27     9
33     9
10     7
7      7
34     7
11     6
32     6
39     6
8      6
31     5
36     5
37     5
38     5
40     5
28     4
9      4
12     4
13     3
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [1169]:
player_df["Age Group"] = pd.cut(player_df["Age"], bins, labels=group_names)
player_df["Age Group"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age Group, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [1181]:
age_group = player_df.groupby("Age Group")

print(age_group["SN"].count())

age_group[["Age"]].count()

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

           Age
Age Group
<10         17
10-14       22
15-19      107
20-24      258
25-29       77
30-34       52
35-39       31
40+         12

In [1182]:
percentage_age_totals = age_totals / total_players

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1104]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 199]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [1105]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data["Age Group"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Group, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [1151]:
age_purchases_group = purchase_data.groupby("Age Group")

print(age_purchases_group["SN"].count())

age_purchases_group[["SN"]].count()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

            SN
Age Group
<10         23
10-14       28
15-19      136
20-24      365
25-29      101
30-34       73
35-39       41
40+         13

In [1153]:
avg_price_age = purchase_data.groupby("Age").mean()["Price"]
avg_price_age

Age
7     3.654444
8     3.246250
9     3.045000
10    3.536667
11    2.684286
12    2.633333
13    2.362500
14    3.455000
15    3.018571
16    3.018667
17    2.930909
18    3.162308
19    3.042609
20    3.174949
21    2.915161
22    2.955000
23    3.013881
24    3.137612
25    3.083051
26    2.870714
27    2.723000
28    1.690000
29    2.710000
30    3.152000
31    3.435714
32    2.836250
33    2.486429
34    2.458889
35    3.716429
36    2.532000
37    3.644286
38    3.794444
39    3.886667
40    2.785000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
Name: Price, dtype: float64

In [1165]:
puchase_value_age = purchase_data.groupby("Age").sum()["Price"]
puchase_value_age

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [1184]:
avg_purchase_age = puchase_value_age / age_totals
avg_purchase_age

7     4.698571
8     4.328333
9     4.567500
10    4.547143
11    3.131667
12    3.950000
13    3.150000
14    3.455000
15    4.063462
16    3.773333
17    3.393684
18    3.915238
19    4.116471
20    4.555362
21    4.203256
22    4.221429
23    4.121020
24    4.379583
25    4.230233
26    3.653636
27    3.025556
28    2.112500
29    3.523000
30    4.412800
31    4.810000
32    3.781667
33    3.867778
34    3.161429
35    5.203000
36    2.532000
37    5.102000
38    6.830000
39    3.886667
40    3.342000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
dtype: float64

In [1186]:
analysis_summary_df = pd.DataFrame({
                                "Purchase Count": age_group,
                                "Average Purchase Price": avg_price_age,
                                "Total Purchase Value": puchase_value_age,
                                 "Avg Total Purchase per Person": avg_purchase_age
                    })
analysis_summary_df

ValueError: Shape of passed values is (8, 4), indices imply (39, 4)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [982]:
purchase_count = purchase_data["SN"].value_counts()
purchase_count

Lisosia93        5
Iral74           4
Idastidru52      4
Strithenu87      3
Yathecal82       3
                ..
Haellysu29       1
Iljask75         1
Aidai61          1
Sundim98         1
Yalostiphos68    1
Name: SN, Length: 576, dtype: int64

In [983]:
top_spenders = purchase_data.loc[:,["SN", "Price"]]
top_spenders = top_spenders.drop_duplicates()

top_spenders_group = top_spenders.groupby("SN").mean()["Price"]
top_spenders_group

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [984]:
purchase_value_total = purchase_count * top_spenders_group

In [985]:
top_summary_df = pd.DataFrame({
                            "Purchase Count": purchase_count,    
                            "Average Purchase Price": top_spenders_group,
                            "Total Purchase Value": purchase_value_total
                    })
top_summary_df.head(110)

              Purchase Count  Average Purchase Price  Total Purchase Value
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79
...                      ...                     ...                   ...
Chamistast30               1                    3.58                  3.58
Chamjask73                 3                    4.61                 13.83
Chamjaskya75               1                    2.84                  2.84
Chamossa77                 1                    1.77                  1.77
Chanadar44                 1                    3.19                  3.19

[110 rows x 3 columns]

In [1187]:
top_summary_df_sorted = top_summary_df.sort_values(ascending=False)
top_summary_df_sorted

TypeError: sort_values() missing 1 required positional argument: 'by'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1158]:
columns = [
    "Item ID",
    "Item Name",
    "Item Price",
]
columns

['Item ID', 'Item Name', 'Item Price']

In [1164]:
columns_group = purchase_data.groupby["Price"]["Item Name"]
columns_group

TypeError: 'method' object is not subscriptable

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame